VACATION_SITE_PASSWORD=change-me
SKYSCANNER_API_KEY=
YELP_API_KEY=
PROPERTY_SEARCH_CITY=Asheville, NC
PROPERTY_SEARCH_URLS=https://www.airbnb.com/s/Asheville--NC/homes,https://www.vrbo.com/search/keywords:Asheville--North-Carolina--United-States-of-America
PLAYWRIGHT_BROWSER_PATH=
BROWSER_USER_DATA_DIR=
PROPERTY_SCRAPE_HEADLESS=false
