VACATION_SITE_PASSWORD=change-me
SERPAPI_KEY=
YELP_API_KEY=
PROPERTY_SEARCH_CITY=Asheville, NC
PROPERTY_SEARCH_URLS=https://www.airbnb.com/s/Asheville--NC/homes,https://www.vrbo.com/search/keywords:Asheville--North-Carolina--United-States-of-America
