VACATION_SITE_PASSWORD=change-me
AUTH_SECRET=change-me-too
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
ALLOWED_VOTER_EMAILS=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
PLAYWRIGHT_BROWSER_PATH=
BROWSER_USER_DATA_DIR=
PROPERTY_SCRAPE_HEADLESS=false
FLIGHT_SCRAPE_HEADLESS=false
RESTAURANT_SCRAPE_HEADLESS=false
